body{
            background:black;
            color:white;
        }

        .hero{
            padding: 380px 0 18px;
        }

        .quick-grid .qcard{
            border:1px solid rgba(255,255,255,.08);
            background: #212529;
            border-radius: 15px;
            padding: 40px;
            height: 100%;
        }
        .quick-grid a{
            text-decoration:none;
        }
        .quick-grid .qcard:hover{
            transform: translateY(-2px);
            border-color: white;
        }

        .qtitle{
            font-weight: 900;
            color:white;
            margin-top: 10px;
            margin-bottom: 6px;
        }